<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head.ejs')%>
  <title>Document</title>
</head>
<body>

	<%-include('./partials/header.ejs')%>

	<h1 class="text-center">
		BIENVENIDO AL SITIO MAS POPULAR DE PELICULAS
	</h1>
	<h4 class="text-center">
		Aquí podrás, consultar peliculas nuevas, recomendadas y hasta crear nuevas peliculas.
		Adelante!!!!
	</h4>
	<%-include('./partials/footer.ejs')%>
	<%-include('./partials/scripts.ejs')%>
</body>


</html>